body {
    background-image:url('../../assets/images/background.png');
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

h1, h2, h3, h4, h5, p, #bannertext{
    font-family: 'Ruslan Display', cursive;
}

#bannertext {
    font-size: 56px;
}

#pistonleft{
    position: absolute;
    z-index: 2;
    left: 25%;
}

#pistonright{
    position: absolute;
    z-index: 2;
    left: 70%;
}

#banner, #rightcurrent, #leftcurrent, #infocurrent1, #infocurrent2, #carousel, #comparebanner {
    background-image: url('../../assets/images/backgroundlight.png');
}

#compare {
    background: url('../../assets/images/piston.png') center no-repeat, url('../../assets/images/backgroundlight.png') repeat;
    background-size: 425px, 175px;
}

#banner {
    height: 100px;
    background-color: gray;
    margin-bottom: 40px;
    border-bottom: black solid 5px;
    align-items: center;
    align-content: center;
    z-index: 100;
}

#main {
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}

#welcome {
    height:auto;
    width: 100%;
    background-image: url('../../assets/images/backgroundlight.png');
}

#pistonimg {
    position: absolute;
    z-index: 0;
    width:75%;
    height: 75%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#rightcurrent {
    background-color: gray;
    height: 250px;
    box-sizing: border-box;
    border-top: black solid 4px;
    border-bottom: black solid 4px;
    border-right: black solid 4px;
}

#leftcurrent {
    background-color: gray;
    height: 250px;
    box-sizing: border-box;
    border-top: black solid 4px;
    border-bottom: black solid 4px;
    border-left: black solid 4px;
}

#p1, #p2{
    border-bottom: black solid 4px;
}

#infocurrent1, #infocurrent2 {
    background-color: darkgray;
    height: 500px;
    /* margin-left: 20px;
    margin-right: 20px; */
    box-sizing: border-box;
    border: black solid 4px;
}

#compare {
    height: 500px;
    box-sizing: border-box;
    border: black solid 4px;

}

#comparebanner {
    margin-top: 9px;
    border-bottom: black solid 4px;
}

#carousel{
    background-color: gray;
    height: 250px;
    margin-top: 40px;
}

#carbanner {
    height: 50px;
    border-bottom: black solid 4px;
}

#carbannertext{
    margin-top: 9px;
}